<!-- Use title if it's in the page YAML frontmatter -->
<title><%= current_page.data.title || "Bemind Interactive" %></title>
<meta name="description" content="">

<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">
<meta name="author" content="Bemind Interactive S.r.l.">
<meta name="Copyright" content="Copyright © 2016">
<!-- Mobile and optimization metatags -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="width">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Mattia Astorino">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<!-- Social metatags -->
<meta property="og:title" content="" >
<meta property="og:image" content="" >
<meta property="og:url" content="" >
<meta property="og:site_name" content="" >
<meta property="og:description" content="">

<link rel="apple-touch-icon" href="/touch-icon.png" >
<link rel="icon" type="image/png" href="/touch-icon.png" >