<nav class="c-navigation">

  <%= nav_link(
    t('navigationMenu.home'),
    "/",
    :class => 'c-navigation c-navigation__link' )
  %>

  <%= nav_link(
    'GitHub',
    "https://github.com/bemindinteractive/static-site-boilerplate",
    :class => 'c-navigation c-navigation__link',
    :target => '_blank' )
  %>

  <%= nav_link(
    t('navigationMenu.sitemap'),
    "/__middleman/sitemap/",
    :class => 'c-navigation c-navigation__link' )
  %>

  <%= nav_link(
    t('navigationMenu.config'),
    "/__middleman/config/",
    :class => 'c-navigation c-navigation__link' )
  %>
</nav>
