// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Pages commons tag
// Last update: 31/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

@if $google-font {
  @import url($google-font);
}

// Metro mode compatibility.
@-ms-viewport {
  width: device-width;
}


* {
  box-sizing: border-box;
}


html {
  font-size: 100%;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: color($yellow,default);

  @if $google-font {
    font-family: $google-font, sans-serif;
  } @else {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", sans-serif;
  }
}


::selection {
  color: #FFF;
  text-shadow: none;
  background-color: #000;
}