---
layout: landing
---

<!-- Pass page content to the :body block -->
<% content_for :header do %>
  <%= partial "partials/navigation" %>
<% end %>

<!-- Pass page content to the :body block -->
<% content_for :body do %>

  <div>
    <h1><%= t('meta.title') %></h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores distinctio repellendus molestiae, qui dicta incidunt quibusdam a? Officiis obcaecati quisquam qui consequatur suscipit possimus minus nemo nobis, impedit blanditiis exercitationem.</div>
    <div>Quas laboriosam exercitationem nihil magni ullam aliquid accusantium atque inventore neque molestias eveniet voluptate iure, fugiat, suscipit unde aut! Ab repudiandae molestias laboriosam, pariatur est quasi sapiente tempora quod, quis!</div>
  </div>

<% end %>

<!-- Pass footer content to the :footer block -->
<% content_for :footer do %>
  <%= partial "partials/footer" %>
<% end %>
