// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Component Navigation
// Last update: 08/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥


.c-navigation {
  position: relative;
  margin: 3rem 0;
}


.c-navigation__link {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem;

  &:hover {
    color: inherit;
  }

  &.is-active {
    color: color($yellow,default);
  }

  @media screen and (break(medium)) {
    display: inline-block;
    margin: 0 1rem;
  }
}
