// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Component Language Switcher
// Last update: 09/08/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥


.c-lang-switcher {
  position: relative;
  text-transform: uppercase;
  user-select: none;
}


.c-lang-switcher__link {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.125rem 0.3rem;
  margin: 0 0.5rem;

  &.is-active {
    background-color: color($midnight, darker);
    color: #FFF;
    border-radius: 2px;
    cursor: default;
  }
}
