
// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Color palette
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$blue: (
  darkest  : #1A4257,
  darker   : #256E89,
  dark     : #2E91B1,
  default  : #3DB8DE,
  light    : #7AC7E6,
  lighter  : #A2D6ED,
  lightest : #D4EBF7
);


$aquamarine: (
  darkest    : #234451,
  darker     : #3D7379,
  dark       : #569997,
  default    : #73C4B7,
  light      : #97D0C6,
  lighter    : #B5DDD5,
  lightest   : #DCEEEB
);


$green: (
  darkest  : #23444C,
  darker   : #3E726A,
  dark     : #57977D,
  default  : #76BF90,
  light    : #98CDA7,
  lighter  : #B5DABE,
  lightest : #DCEDE0
);


$yellow: (
  darkest  : #464543,
  darker   : #8A774A,
  dark     : #BFA245,
  default  : #FDD62F,
  light    : #FEDD67,
  lighter  : #FEE693,
  lightest : #FFF2CC
);


$sand: (
  darkest  : #493E41,
  darker   : #8B6649,
  dark     : #BF874A,
  default  : #F8AE41,
  light    : #FBBF6C,
  lighter  : #FCD093,
  lightest : #FEE7CA
);


$orange: (
  darkest  : #4A363E,
  darker   : #8A5145,
  dark     : #BB6646,
  default  : #EF7C41,
  light    : #F49A66,
  lighter  : #F8B58C,
  lightest : #FCDBC6
);

$red: (
  darkest  : #4A2F3E,
  darker   : #893B47,
  dark     : #B7424B,
  default  : #E9474E,
  light    : #EE746D,
  lighter  : #F39B90,
  lightest : #FAD0C7
);


$purple: (
  darkest  : #2F314F,
  darker   : #504673,
  dark     : #6A548C,
  default  : #8665A9,
  light    : #9C83BB,
  lighter  : #B4A2CE,
  lightest : #D8D0E8
);


$midnight: (
  darker       : #282941,
  dark         : #3D3E54,
  default      : #68697A,
  light        : #9394A0,
  lighter      : #D4D4D9,
  lighter-more : #E4E4E9,
  lightest     : #F2F2F2
);


